### Symfony / PHP
/var/
/vendor/
#/public/build/            # si luego usas asset build
/.phpunit.result.cache
/phpunit.xml
/.env.local
/.env.*.local
/.env.local.php
/.env.test.local
/.env.prod.local
/.DS_Store
Thumbs.db

### Cache / logs
/var/cache/
/var/log/

### Composer
/composer.phar

### Symfony CLI (si alguien la instala)
/.symfony.local.yaml

### JWT (Parte 3, para que ya quede listo)
#/config/jwt/*.pem
/config/jwt/*.pem
/config/jwt/*.pub

### IDE
/.idea/
/.vscode/
/*.iml

### Docker / misc
docker-compose.override.yml
compose.override.yaml

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
